@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section css{
    <link rel="stylesheet" href="~/Front/css/about.css" />
}
<div class="one">
    <div class="container">
        <div class="row all">
            <div class="col-md-6 left"><h2>About Us</h2></div>
            <div class="col-md-6 right">
                <a href="index.html">HOME</a>  /
                <a href="">SHOP</a>/
                Shop Detail
            </div>
        </div>
    </div>
</div>

<div class="firstt">
    <div class="container">
        <div class="row all">
            <div class="col-md-6 left">
                <img src="	https://htmldemo.net/furns/furns/assets/images/about-image/1.jpg" alt="">
            </div>
            <div class="col-md-6 right">
                <h1>Welcome To Furns</h1>
                <p>
                    Welcome To Furns
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore aperiam fugit consequuntur voluptatibus ex sint iure in, distinctio sed dolorem aspernatur veritatis repellendus dolorum voluptate, animi libero officiis eveniet accusamus recusandae. Temporibus amet ducimus sapiente voluptatibus autem dolorem magnam quas, porro suscipit. Quibusdam culpa asperiores exercitationem architecto quo distinctio sed dolorem!

                    Sint voluptatum beatae necessitatibus quos mollitia vero, optio asperiores aut tempora iusto eum rerum, possimus, minus quidem ut saepe laboriosam. Praesentium aperiam accusantium minus repellendus laudantium provident quod recusandae exercitationem natus dignissimos.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="second">
    <div class="container">
        <div class="row all">
            <div class="col-md-8 left">
                <img src="https://htmldemo.net/furns/furns/assets/images/banner/8.jpg" alt="">
            </div>
            <div class="col-md-4 right">
                <img src="https://htmldemo.net/furns/furns/assets/images/banner/9.jpg" alt="">
                <img src="https://htmldemo.net/furns/furns/assets/images/banner/10.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="team">
    <div class="container">
        <div class="topp">
            <h1>Our Team</h1>
        </div>
        <div class="row all">


            <div class="col-md-3 cl">
                <div class="box">
                    <div class="top">
                        <img src="	https://htmldemo.net/furns/furns/assets/images/team/leader1.png" alt="">
                    </div>
                    <div class="b">
                        <h6>Ms. Veronica</h6>
                        <div class="leout">
                            <span>Web Design</span>
                            <div class="lay">
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-instagram"></i>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-3 cl">
                <div class="box">
                    <div class="top">
                        <img src="	https://htmldemo.net/furns/furns/assets/images/team/leader1.png" alt="">
                    </div>
                    <div class="b">
                        <h6>Ms. Veronica</h6>
                        <div class="leout">
                            <span>Web Design</span>
                            <div class="lay">
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-instagram"></i>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-3 cl">
                <div class="box">
                    <div class="top">
                        <img src="	https://htmldemo.net/furns/furns/assets/images/team/leader1.png" alt="">
                    </div>
                    <div class="b">
                        <h6>Ms. Veronica</h6>
                        <div class="leout">
                            <span>Web Design</span>
                            <div class="lay">
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-instagram"></i>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-3 cl">
                <div class="box">
                    <div class="top">
                        <img src="	https://htmldemo.net/furns/furns/assets/images/team/leader1.png" alt="">
                    </div>
                    <div class="b">
                        <h6>Ms. Veronica</h6>
                        <div class="leout">
                            <span>Web Design</span>
                            <div class="lay">
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-instagram"></i>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>


<div class="second-slider">
    <div class="container">
        <div class="slider">
            <div class="content">
                <div class="top">
                    <img src="https://htmldemo.net/furns/furns/assets/images/company-logo/company-logo-8.png" alt="">
                </div>

            </div>
            <div class="content">
                <div class="top">
                    <img src="https://htmldemo.net/furns/furns/assets/images/company-logo/company-logo-8.png" alt="">
                </div>

            </div>
            <div class="content">
                <div class="top">
                    <img src="https://htmldemo.net/furns/furns/assets/images/company-logo/company-logo-8.png" alt="">
                </div>

            </div>
            <div class="content">
                <div class="top">
                    <img src="https://htmldemo.net/furns/furns/assets/images/company-logo/company-logo-8.png" alt="">
                </div>

            </div>
            <div class="content">
                <div class="top">
                    <img src="https://htmldemo.net/furns/furns/assets/images/company-logo/company-logo-8.png" alt="">
                </div>

            </div>
            <div class="content">
                <div class="top">
                    <img src="https://htmldemo.net/furns/furns/assets/images/company-logo/company-logo-8.png" alt="">
                </div>

            </div>
            <div class="content">
                <div class="top">
                    <img src="https://htmldemo.net/furns/furns/assets/images/company-logo/company-logo-8.png" alt="">
                </div>

            </div>

        </div>

    </div>
</div>

@section Scripts{

     <script src="~/Front/js/about.js"></script>
}