*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.container{
     padding:0 0rem  !important
}

.header{
 background-color: black;
 
        .top{
              display: flex;
              align-items: center;
              padding: 11px 0;
             
                  .left{

                         p{
                            color: #FF7004;
                            margin: 0;
                         }
                  }

                .right{
                    display: flex;
                    justify-content: right;
                    
                   
.dropbtn {
   
    
    background-color: black;
    font-size: 16px;
    border: none;
    color: wheat;
    padding-right:11px ;
    transition: 0.4s;
    z-index: 88455454;
  }
 
  .first{
    
    border-right: 1px solid wheat;
 }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    
    
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   
    
  }
  

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 68678;
  }
  
  /* Change color of dropdown links on hover */

  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;
    z-index: 32543;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {color: #FF7004;
                               }   

                }
        }   

}

.header2{

        .middle{
               padding: 30px 0;
                display: flex;
                align-items: center;
                   .right{
                         display: flex;
                         justify-content: right;
                         
                         i{
                            margin: 0 20px;
                            font-size: 1.5rem;
                            transition: 0.4s;
                            &:hover{
                                  color: #FF7004;
                                  cursor: pointer;
                            }
                         }
                         .line{
                                 width: 2px;
                                 height: 27px;
                                 border: 1px solid #474747;
                         }
                         .shop{

                                 position: relative;

                                 p{
                                    position: absolute;
                                    left: 34px;
                                    top: 0;
                                    background-color: #FF7004;
                                    padding: 0 6px;
                                    border-radius: 50%;
                                    font-size: 10px;
                                    color: white;
                                 }
                         }
                   }
        }
}
.header3{
   background-color: black;
       .bottom{
                   
              .colll{
                       padding: 15px 0;
                      display: flex;
                      justify-content: center; 
                      a{

                           font-size: 1rem;
                           text-decoration: none;
                           margin: 0 10px;
                           color: white;
                           transition: 0.4s;
                           &:hover{
                                color: #FF7004;
                           }
                      }   
              }
       }
}
.telhd{
       display: none;
    .tel{
           padding: 30px 0;
            display: flex;
            align-items: center;
               .right{
                     display: flex;
                     justify-content: right;
                     
                     i{
                        margin: 0 20px;
                        font-size: 1.5rem;
                        transition: 0.4s;
                        &:hover{
                              color: #FF7004;
                              cursor: pointer;
                        }
                     }
                     .line{
                             width: 2px;
                             height: 27px;
                             border: 1px solid #474747;
                     }
                     .shop{

                             position: relative;

                             p{
                                position: absolute;
                                left: 34px;
                                top: 0;
                                background-color: #FF7004;
                                padding: 0 6px;
                                border-radius: 50%;
                                font-size: 10px;
                                color: white;
                             }
                     }
               }
    }
}
.one{
   padding: 5rem 0;
   background-color: #F4F5F7;
      .all{
          .right{
              text-align: right;   
              a{
               transition: .4s;
                 &:hover{
                    color: #FF7004;
                 }
              }    
          }
      }
}
.firstt{
      padding: 8rem 0;
      .all{
           
             .left{
                img{
                    padding: 40px 0 ;
                }
             }
             .right{
              
                     p{
                          font-size: 18px;
                          text-align: justify;
                     }
             }
      }
}

.second{
     padding-bottom: 5rem;
       .all{
             .left{
                 img{
                      padding: 0;
                      width: 100%;
                 }
             }
             .right{
                    
                   img{
                        width: 100%;
                   }
                   display: flex;
                   flex-direction: column;
                   justify-content: space-between;
             }
       }
}
.team{
   padding: 5rem 0;
   background-color: #F4F5F7;
      .topp{
           width: 100%;
           align-items: center;
           text-align: center;
           padding-bottom: 5rem;
      }
       .all{
            .cl{
                 .box{
                      background-color: white;
                     padding: 50px 20px;
                     .top{
                          text-align: center;
                          padding-bottom:2rem ;
                     }

                     .b{
                          padding: 10px 0;
                          text-align: center;
                          
                          .leout{
                              span{
                                   margin-bottom: 10px;
                                   transition: 0.4s;
                               }
                              position: relative;
                                 .lay{
                                   transition: 0.4s;
                                      i{
                                         font-size: 1.5rem;
                                         transition: .4s;
                                         &:hover{
                                              color: #FF7004;
                                         }
                                       
                                      }
                                      position: absolute;
                                      left: 0;
                                      top: 20px;
                                      width: 100%;
                                      height: 100%;
                                      
                                    
                                     opacity: 0;
                                 }
                               
                          }
                     }
                     &:hover{
                          .b{
                              .leout{
                                      span{
                                         opacity: 0;
                                      }
                                      .lay{
                                        top: 0;
                                          opacity: 1;
                                      }
                              }
                          }
                  }
                 }
            }
       }
}

.second-slider{
     margin: 5rem 0;
       .slider{
             .content{
                   margin-right: 10px;
                    
                 
                    
                      text-align: center;
                     
 
                    
                     .top{
                         margin-bottom: 30px;
                        img{
                         margin: 0 auto;
                        }
                     } 
 
             }
           
             
       }
       .slick-dots li button:before {
        display: none;
        }
  }
 
 



.first-last{
    background-color:  #212529;
    padding: 6rem 0;
    color: white;
          .all{
                .left{
                      i{
                           font-size: 1rem;
                           
                           padding: 5px 5px;
                           transition: 0.4s;
                           border-radius: 50%;
                           cursor: pointer;
                           &:hover{

                            background-color: #FF7004;
                           }
                      }
                }
                .middle{
                         ul{
                            li{
                                 list-style-type: none;
                                 display: inline-block;
                                 transition: 0.6s;
                                 a{
                                    color: white;
                                    transition: .7s;
                                    &:hover{
                                         text-decoration: none;
                                          color: #FF7004;
                                          
                                         
                                    }
                                 }
                                 &:hover{
                                   
                                        transform: translate(20px);
                                      
                                 }
                            }
                         }
                }
                .right{
                     .email{
                             padding: 10px 20px;
                             background-color: transparent;
                              border: 1px solid #007A58;
                              outline: none;
                              transition: 0.2s;
                              &:focus{
                                    border: 1px solid #FF7004;
                              }
                              
                     }
                     .btnn{
                             margin-top: 20px;
                             padding: 15px 35px;
                             background-color: #FF7004;
                             color: white;
                             border: none;
                             transition: 0.4s;
                             &:hover{
                                  background-color: #ff9341;
                             }
                     }
                }
          }
}
.last{
  padding: 20px 0;
background-color: #2A2A2A;
   .all{
        .left{ 
          p{
            color: white;
            margin: 0;
              i{
                color: red;
              }
              a{
                color: white;
                transition: 0.4s;
                 &:hover{
                      text-decoration: none;
                      color: #FF7004;
                 }
              }
          }
           
        }
        .right{
              text-align: right;
        }
   }
}