* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: black;
}
.header .top {
  display: flex;
  align-items: center;
  padding: 11px 0;
}
.header .top .left p {
  color: #FF7004;
  margin: 0;
}
.header .top .right {
  display: flex;
  justify-content: right;
  /* Change color of dropdown links on hover */
  /* Show the dropdown menu on hover */
  /* Change the background color of the dropdown button when the dropdown content is shown */
}
.header .top .right .dropbtn {
  background-color: black;
  font-size: 16px;
  border: none;
  color: wheat;
  padding-right: 11px;
  transition: 0.4s;
  z-index: 88455454;
}
.header .top .right .first {
  border-right: 1px solid wheat;
}
.header .top .right .dropdown {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}
.header .top .right .dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.header .top .right .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 68678;
}
.header .top .right .dropdown:hover .dropdown-content {
  display: block;
  z-index: 32543;
}
.header .top .right .dropdown:hover .dropbtn {
  color: #FF7004;
}

.header2 .middle {
  padding: 30px 0;
  display: flex;
  align-items: center;
}
.header2 .middle .right {
  display: flex;
  justify-content: right;
}
.header2 .middle .right i {
  margin: 0 20px;
  font-size: 1.5rem;
  transition: 0.4s;
}
.header2 .middle .right i:hover {
  color: #FF7004;
  cursor: pointer;
}
.header2 .middle .right .line {
  width: 2px;
  height: 27px;
  border: 1px solid #474747;
}
.header2 .middle .right .shop {
  position: relative;
}
.header2 .middle .right .shop p {
  position: absolute;
  left: 34px;
  top: 0;
  background-color: #FF7004;
  padding: 0 6px;
  border-radius: 50%;
  font-size: 10px;
  color: white;
}

.header3 {
  background-color: black;
}
.header3 .bottom .colll {
  padding: 15px 0;
  display: flex;
  justify-content: center;
}
.header3 .bottom .colll a {
  font-size: 1rem;
  text-decoration: none;
  margin: 0 10px;
  color: white;
  transition: 0.4s;
}
.header3 .bottom .colll a:hover {
  color: #FF7004;
}

.telhd {
  display: none;
}
.telhd .tel {
  padding: 30px 0;
  display: flex;
  align-items: center;
}
.telhd .tel .right {
  display: flex;
  justify-content: right;
}
.telhd .tel .right i {
  margin: 0 20px;
  font-size: 1.5rem;
  transition: 0.4s;
}
.telhd .tel .right i:hover {
  color: #FF7004;
  cursor: pointer;
}
.telhd .tel .right .line {
  width: 2px;
  height: 27px;
  border: 1px solid #474747;
}
.telhd .tel .right .shop {
  position: relative;
}
.telhd .tel .right .shop p {
  position: absolute;
  left: 34px;
  top: 0;
  background-color: #FF7004;
  padding: 0 6px;
  border-radius: 50%;
  font-size: 10px;
  color: white;
}

.first {
  position: relative;
  background-color: #E7E7E7;
}
.first .your-class .top {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.first .your-class .top .left span {
  font-size: 25px;
}
.first .your-class .top .left h2 {
  font-size: 72px;
}
.first .your-class .top .left p {
  margin-bottom: 40px;
}
.first .your-class .top .left a {
  padding: 15px 40px;
  background-color: #FF7004;
  color: white;
  transition: 0.4s;
}
.first .your-class .top .left a:hover {
  text-decoration: none;
  background-color: #ff994a;
}
.first .your-class .top .right img {
  margin-right: 30px;
}
.first .your-class .slick-prev:before {
  color: rgb(139, 139, 139);
  font-size: 2rem;
  position: absolute;
  right: 5rem;
  opacity: 0;
  transition: 0.7s;
}
.first .your-class .slick-next:before {
  color: rgb(139, 139, 139);
  font-size: 2rem;
  position: absolute;
  left: 5rem;
  transition: 0.6s;
  opacity: 0;
}
.first .your-class .slick-dots li.slick-active button:before {
  color: orange;
}
.first .your-class .slick-dots li button:before {
  top: -31px;
  font-size: 12px;
}
.first:hover .slick-prev:before {
  right: 3rem;
  display: block;
  opacity: 1;
}
.first:hover .slick-next:before {
  left: 2rem;
  display: block;
  opacity: 1;
}

.second-slider {
  margin: 5rem 0;
}
.second-slider .slider .content {
  margin-right: 10px;
  text-align: center;
  border: 1px solid black;
  border-radius: 50%;
  padding: 40px 0;
}
.second-slider .slider .content .top {
  margin-bottom: 30px;
}
.second-slider .slider .content .top img {
  margin: 0 auto;
}
.second-slider .slick-dots li button:before {
  display: none;
}

.product .top {
  text-align: center;
}
.product .top .context p {
  margin: 20px 0;
}
.product .middle .context {
  text-align: center;
}
.product .middle .context a {
  margin: 0 20px;
  color: black;
  font-size: 1.5rem;
}
.product .middle .context a:hover {
  color: #FF7004;
  text-decoration: none;
}
.product .bottom {
  margin: 3rem 0;
}
.product .bottom .nese .top {
  position: relative;
  margin-bottom: 20px;
}
.product .bottom .nese .top span {
  position: absolute;
  left: 20px;
  top: 30px;
  background-color: #007A58;
  padding: 0px 7px;
  border-radius: 2px;
  color: white;
}
.product .bottom .nese .top .heart {
  right: 20px;
  top: 20px;
  position: absolute;
  color: black;
  background-color: white;
  padding: 10px 15px;
  border-radius: 50%;
  transition: 0.4s;
}
.product .bottom .nese .top .heart:hover {
  background-color: #FF7004;
  color: white;
}
.product .bottom .nese .top .rl1 {
  right: 20px;
  top: 120px;
  position: absolute;
  color: black;
  background-color: white;
  padding: 10px 15px;
  border-radius: 50%;
  opacity: 0;
  transition: 0.7s;
}
.product .bottom .nese .top .rl1:hover {
  background-color: #FF7004;
  color: white;
}
.product .bottom .nese .top .rl2 {
  right: 20px;
  top: 170px;
  position: absolute;
  opacity: 0;
  transition: 0.7s;
  color: black;
  background-color: white;
  padding: 10px 15px;
  border-radius: 50%;
}
.product .bottom .nese .top .rl2:hover {
  background-color: #FF7004;
  color: white;
}
.product .bottom .nese .top .cart {
  position: absolute;
  opacity: 0;
  left: 20px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 3px 12px;
  background-color: white;
  transition: 0.7s;
}
.product .bottom .nese .top .cart:hover {
  text-decoration: none;
  color: #FF7004;
}
.product .bottom .nese .top p {
  position: absolute;
  left: 20px;
  top: 60px;
  padding: 0px 4px;
  background-color: #FF7004;
  color: white;
  border-radius: 3px;
}
.product .bottom .nese .top img {
  width: 100%;
}
.product .bottom .nese .top .img2 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.7s;
}
.product .bottom .nese .top:hover .img2 {
  opacity: 1;
}
.product .bottom .nese .top:hover .rl1 {
  top: 70px;
  opacity: 1;
}
.product .bottom .nese .top:hover .rl2 {
  top: 120px;
  opacity: 1;
}
.product .bottom .nese .top:hover .cart {
  bottom: 20px;
  opacity: 1;
}
.product .bottom .nese .botton {
  text-align: center;
}
.product .bottom .nese .botton .price {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.product .bottom .nese .botton .price .p {
  text-decoration: line-through;
}

.second {
  margin: 5rem 0;
}
.second .all .left {
  width: 49%;
}
.second .all .left .box {
  overflow: hidden;
  position: relative;
}
.second .all .left .box img {
  width: 100%;
  transition: 0.4s;
}
.second .all .left .box .context {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.second .all .left .box:hover img {
  transform: scale(1.2) rotate(3deg);
}
.second .all .right {
  width: 49%;
}
.second .all .right .box {
  overflow: hidden;
  position: relative;
}
.second .all .right .box img {
  width: 100%;
  transition: 0.4s;
}
.second .all .right .box .context {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
.second .all .right .box:hover img {
  transform: scale(1.2) rotate(-3deg);
}

.laters {
  margin: 5rem 0;
}
.laters .text {
  text-align: center;
}
.laters .text h2 {
  margin-bottom: 15px;
}
.laters .alll .colll .box {
  padding: 0 0 30px 0px;
}
.laters .alll .colll .box .top {
  overflow: hidden;
  margin-bottom: 20px;
}
.laters .alll .colll .box .top img {
  width: 100%;
  transition: 0.4s;
}
.laters .alll .colll .box .bottom .date {
  color: #FF7004;
  text-decoration: underline;
}
.laters .alll .colll .box .bottom .type {
  font-size: 1.5rem;
  color: black;
  transition: 0.4s;
}
.laters .alll .colll .box .bottom .type:hover {
  color: #FF7004;
  text-decoration: none;
}
.laters .alll .colll .box .bottom p {
  margin: 10px 0 30px 0;
  opacity: 0.7;
}
.laters .alll .colll .box .bottom .read {
  padding: 10px 30px;
  color: white;
  background-color: #474747;
  transition: 0.4s;
}
.laters .alll .colll .box .bottom .read:hover {
  background-color: #FF7004;
  text-decoration: none;
}
.laters .alll .colll .box:hover img {
  transform: scale(1.2) rotate(3deg);
}

.follow {
  margin: 7rem 0;
}
.follow .follow-text {
  text-align: center;
  margin: 4rem 0;
}
.follow .all .nesee .box {
  overflow: hidden;
  position: relative;
}
.follow .all .nesee .box img {
  width: 100%;
  height: 100%;
  transition: 0.4s;
}
.follow .all .nesee .box .ley {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.4s;
}
.follow .all .nesee .box i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
  opacity: 0;
  transition: 0.4s;
}
.follow .all .nesee .box:hover img {
  transform: scale(1.1) rotate(3deg);
}
.follow .all .nesee .box:hover i {
  opacity: 1;
}
.follow .all .nesee .box:hover .ley {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 0, rgba(255, 255, 255, 0) 100%);
}

.first-last {
  background-color: #212529;
  padding: 6rem 0;
  color: white;
}
.first-last .all .left i {
  font-size: 1rem;
  padding: 5px 5px;
  transition: 0.4s;
  border-radius: 50%;
  cursor: pointer;
}
.first-last .all .left i:hover {
  background-color: #FF7004;
}
.first-last .all .middle ul li {
  list-style-type: none;
  display: inline-block;
  transition: 0.6s;
}
.first-last .all .middle ul li a {
  color: white;
  transition: 0.7s;
}
.first-last .all .middle ul li a:hover {
  text-decoration: none;
  color: #FF7004;
}
.first-last .all .middle ul li:hover {
  transform: translate(20px);
}
.first-last .all .right .email {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #007A58;
  outline: none;
  transition: 0.2s;
}
.first-last .all .right .email:focus {
  border: 1px solid #FF7004;
}
.first-last .all .right .btnn {
  margin-top: 20px;
  padding: 15px 35px;
  background-color: #FF7004;
  color: white;
  border: none;
  transition: 0.4s;
}
.first-last .all .right .btnn:hover {
  background-color: #ff9341;
}

.last {
  padding: 20px 0;
  background-color: #2A2A2A;
}
.last .all .left p {
  color: white;
  margin: 0;
}
.last .all .left p i {
  color: red;
}
.last .all .left p a {
  color: white;
  transition: 0.4s;
}
.last .all .left p a:hover {
  text-decoration: none;
  color: #FF7004;
}
.last .all .right {
  text-align: right;
}

@media (max-width: 768px) {
  .header2 {
    display: none;
  }
  .header3 {
    display: none;
  }
  .telhd {
    display: block;
  }
  .first {
    position: relative;
  }
  .first .your-class .top .right {
    display: flex;
    justify-content: center;
  }
  .first .your-class .top .right img {
    width: 80%;
    align-items: center;
    z-index: -5;
  }
  .first .your-class .slick-prev:before {
    position: absolute;
    right: -3rem;
    opacity: 1;
    transition: 0.7s;
    z-index: 4335;
  }
  .first .your-class .slick-next:before {
    position: absolute;
    left: -5rem;
    transition: 0.6s;
    opacity: 1;
  }
  .first .your-class .slick-dots li.slick-active button:before {
    color: orange;
  }
  .first .your-class .slick-dots li button:before {
    top: -31px;
    font-size: 12px;
  }
  .first:hover .slick-prev:before {
    right: -7rem;
    display: block;
    opacity: 1;
  }
  .first:hover .slick-next:before {
    left: -6rem;
    display: block;
    opacity: 1;
  }
}
@media (max-width: 576px) {
  .second .all .box .context {
    font-size: 1.1rem;
  }
  .header .top .left {
    text-align: center;
  }
  .header .top .right .dropdown {
    display: none;
  }
  .first {
    position: relative;
  }
  .first .your-class .top .right {
    display: flex;
    justify-content: center;
  }
  .first .your-class .top .right img {
    width: 80%;
    align-items: center;
    z-index: -5;
  }
  .first .your-class .slick-prev:before {
    position: absolute;
    right: -8rem;
    opacity: 1;
    transition: 0.7s;
    z-index: 4335;
  }
  .first .your-class .slick-next:before {
    position: absolute;
    left: -8rem;
    transition: 0.6s;
    opacity: 1;
  }
  .first .your-class .slick-dots li.slick-active button:before {
    color: orange;
  }
  .first .your-class .slick-dots li button:before {
    top: -31px;
    font-size: 12px;
  }
  .first:hover .slick-prev:before {
    right: -7rem;
    display: block;
    opacity: 1;
  }
  .first:hover .slick-next:before {
    left: -9rem;
    display: block;
    opacity: 1;
  }
}/*# sourceMappingURL=scss.css.map */